## Puntos
- Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos. <br>

- Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0. (HECHO) <br>

- Los valores nulos del campo "release_date" deben eliminarse. (HECHO) <br>

- De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno. (HECHO) <br>

- Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0. (HECHO) <br>

- Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage. (HECHO) <br>

### Nota Importante
Este archivo al inicio como tenía mucha desesperación y frustración por no poder realizar los cambios desde aquí, opté por hacerlo todo lo que debía hacer en PowerBI, ahí separé las columnas que tenian diccionarios o listas de diccionarios, después vi que se podía hacer más o menos de esta forma, pero como el tiempo estaba sobre mi, no lo quise realizar y enfocarme en lo que seguía, pero les dejo un poco de como vi que podría hacerlo. Como comento, no estoy seguro que se realice de esta forma para todos, pero lo intenté.

In [2]:
#importamos la librería
import pandas as pd

In [ ]:
#Marcaba un error, era porque no tenía instalada esta librería, la solicitaba para leer los xlsx
%pip install openpyxl

In [8]:
#Traemos los datos
peliculas = pd.read_excel('/Volumes/KINGSTON/Henry/Proyecto 1/PI_ML_OPS/Dataset/Datos Originales/movies_dataset - copia.xlsx')

In [9]:
#Tomamos uno dato para hacer pruebas
belongs = peliculas['belongs_to_collection'][0]

In [10]:
# Convertir la cadena en un diccionario
diccionario = eval(belongs) #La clave

# Convertir el diccionario en una lista de diccionarios
lista_diccionarios = [diccionario]

# Crear el DataFrame a partir de la lista de diccionarios
df = pd.DataFrame(lista_diccionarios)

# Imprimir el DataFrame
df

,id,name,poster_path,backdrop_path
0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg

In [11]:
#concatenamos los dataframes
df_combinado = pd.concat([peliculas, df], axis=1)

In [12]:
#Vemos el resultado
df_combinado.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,id,name,poster_path,backdrop_path
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,0.0,7.7,5415.0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,0.0,6.9,2413.0,NaN,NaN,NaN,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,0.0,6.5,92.0,NaN,NaN,NaN,NaN

Al conocer que si se puede hacer de esa forma, entonces pasamos directamente con el dataset original para hacer lo que se hizo con una columna, con todas las que debamos realizarle algún cambio.

## Aquí están los demás puntos

### Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0. (HECHO)

In [ ]:
#Ingresamos el dataset que vamos a necesitar

pelis = pd.read_csv('Dataset\movies_dataset.csv')

In [ ]:
#Para no hechar a perder los datos, usamos una copia del dataset original
peliculas = pelis.copy()

In [ ]:
# Nos piden exactamente dos columnas, las revisamos y comprobamos cual si tiene valoers nulos
peliculas[['budget', 'revenue']].isnull().any()

In [ ]:
#con las líneas anteriores nos damos cuenta de que REVENUE si tiene valores nulos, así que como se indica los cambiamos por 0
peliculas['revenue'].fillna(0.0, inplace=True)

In [ ]:
#verificamos que el cambio se realizó correctamente
peliculas[['revenue']].info()

In [ ]:
#hacemos entonces lo mismo con el dataset principal

#confirmamos los valores nulos
pelis[['budget', 'revenue']].isnull().any()

In [ ]:
pelis[['budget', 'revenue']].info()

In [ ]:
#vemos como es que revenue tiene menos datos que budget
#hacemos lo mismo que con el dataset copia pero esta vez en el original
pelis['revenue'].fillna(0.0, inplace=True)

In [ ]:
#Volvemos a ver el resultado ya con el cambio
pelis[['budget', 'revenue']].info()

In [ ]:
#confirmamos nuevamente si quedó resuelto
pelis[['budget', 'revenue']].isnull().any()

### Los valores nulos del campo "release_date" deben eliminarse. (HECHO)

In [ ]:
#Vemos primero que se tengan valores nulos
peliculas[['release_date']].info()

In [ ]:
#Vemos los datos
peliculas[['release_date']].head()

In [ ]:
#eliminamos los nulos
peliculas['release_date'].dropna(inplace=True)

In [ ]:
#Vemos los datos
peliculas[['release_date']].head()

In [ ]:
#hacemos el cambio de tipo de dato a datetime
peliculas['release_date'] = pd.to_datetime(peliculas['release_date'], errors='coerce')
peliculas['release_date'].info()

In [ ]:
#Vemos los datos
peliculas[['release_date']].head()

In [ ]:
#los campos vacios los llenamos con un dato X
peliculas['release_date'] = peliculas['release_date'].fillna(pd.to_datetime('1900-01-01'))

#### Justificación <br>
Al intentar realizar la eliminación de los datos vacios, se eliminaban los demás, entonces decidí ingresarles una fecha que estuviera fuera del rango de fechas normales, para así poder detectarlos con facilidad, al inicio al no conocer los datos, preferí ser cauteloso con lo que eliminaba entonces decidí hacerlo de esta forma, y pienso que al hacerlo así, conocería perfectamente cual era ese valor, a diferencia de un NaN o un vacío, sería màs sencillo el poder identificarlo

In [ ]:
# Convertimos la columna 'release_date' a tipo datetime porque es object
peliculas['release_date'] = pd.to_datetime(peliculas['release_date'])

# Cambiar el formato de fecha utilizando el método strftime() y le pasamos de parámetro el formato
peliculas['release_date'] = peliculas['release_date'].dt.strftime('%Y-%m-%d')

In [ ]:
#Vemos los datos
peliculas['release_date'][45460:]
#Específicamente seleccionamos estos para ver el cambio realizado
#de los valores con año 1900

In [ ]:
#Vemos el resultado
peliculas[['release_date']].info()

In [ ]:
#Ahora eso lo replicamos con el dataset original

#Vemos primero que se tengan valores nulos
pelis[['release_date']].info()

In [ ]:
#Vemos los datos
pelis[['release_date']].head()

In [ ]:
#eliminamos los nulos
pelis['release_date'].dropna(inplace=True)

In [ ]:
#Vemos los datos
pelis[['release_date']].head()

In [ ]:
#hacemos el cambio de tipo de dato a datetime
pelis['release_date'] = pd.to_datetime(pelis['release_date'], errors='coerce')
pelis['release_date'].info()

In [ ]:
#Vemos los datos
pelis[['release_date']].head()

In [ ]:
#los campos vacios los llenamos con un dato X
pelis['release_date'] = pelis['release_date'].fillna(pd.to_datetime('1900-01-01'))

In [ ]:
# Convertimos la columna 'release_date' a tipo datetime porque es object
pelis['release_date'] = pd.to_datetime(pelis['release_date'])

# Cambiar el formato de fecha utilizando el método strftime() y le pasamos de parámetro el formato
pelis['release_date'] = pelis['release_date'].dt.strftime('%Y-%m-%d')

In [ ]:
#Vemos los datos
pelis['release_date'][45460:]

### De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno. (HECHO)

In [ ]:
#creamos la columna llamada "release_year" para que únicamente guarde los años
peliculas['release_year'] = pd.to_datetime(peliculas['release_date']).dt.year

In [ ]:
#Vemos el resultado
peliculas['release_year'].head()

In [ ]:
#Vemos hasta los últimos datos
peliculas['release_year'][45460:]

In [ ]:
#Ahora lo aplicamos en el dataset original

#creamos la columna llamada "release_year" para que únicamente guarde los años
pelis['release_year'] = pd.to_datetime(pelis['release_date']).dt.year

In [ ]:
#Vemos el resultado
pelis['release_year'].head()

In [ ]:
pelis['release_year'][45460:]

### Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0. (HECHO)

In [ ]:
#separamos las columnas con las que trabajaremos y vemos los datos
peliculas[['budget', 'revenue']].head()

In [ ]:
#Vemos los tipos de datos que son las columnas
peliculas[['budget', 'revenue']].info()

In [ ]:
#Vemos que "budget" es de tipo object, entonces hacemos la transformación de los datos
peliculas['budget'] = peliculas['budget'].astype(float)

In [ ]:
#me di cuenta que no eran muchos los datos que tenian valores que no permitian el cambio, así que se decidió hacer manual el  cambio
#lo intenté uno a uno y vi que solo eran 3, así que lo hice así

#peliculas['budget'].replace('/ff9qCepilowshEtG2GYWwzt2bs4.jpg', 0, inplace=True)
#peliculas['budget'].replace('/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg', 0, inplace=True)
peliculas['budget'].replace('/zaSf5OG7V8X8gqFvly88zDdRm46.jpg', 0, inplace=True)

In [ ]:
#Vemos como quedó nuestro cambio
peliculas[['revenue', 'budget']].info()

In [ ]:
#Creamos ahora la columna solicitada con la información que se pide
peliculas['return'] = peliculas.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] != 0 else 0, axis=1)

#No se si se necesitará pero podríamos redondear la columna
#peliculas['return'] = peliculas.apply(lambda row: round(row['revenue'] / row['budget'] if row['budget'] != 0 else 0, 2), axis=1)

In [ ]:
#Vemos el resultado
peliculas[['return']].head(10)

In [ ]:
#Hacemos lo mismo con el dataset principal

#separamos las columnas con las que trabajaremos y vemos los datos
pelis[['budget', 'revenue']].head()

In [ ]:
#Vemos los tipos de datos que son las columnas
pelis[['budget', 'revenue']].info()

In [ ]:
#Como ya sabemos que debemos cambiar, lo cambiamos antes de hacer el cambio de formato
pelis['budget'].replace('/ff9qCepilowshEtG2GYWwzt2bs4.jpg', 0, inplace=True)
pelis['budget'].replace('/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg', 0, inplace=True)
pelis['budget'].replace('/zaSf5OG7V8X8gqFvly88zDdRm46.jpg', 0, inplace=True)

In [ ]:
#Cambiamos ahora si el formato de "budget" 
pelis['budget'] = pelis['budget'].astype(float)

In [ ]:
#Vemos como quedó nuestro cambio
pelis[['revenue', 'budget']].info()

In [ ]:
#Creamos ahora la columna solicitada con la información que se pide
pelis['return'] = pelis.apply(lambda row: round(row['revenue'] / row['budget'] if row['budget'] != 0 else 0, 2), axis=1)

In [ ]:
#Vemos el resultado
pelis[['return']].head(10)

### Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage. (HECHO)

In [ ]:
#Ahora solo dejamos las columnas con las que vamos a trabajar
pelis = pelis[['belongs_to_collection', 'budget', 'genres', 'id', 'original_language', 'overview',
       'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count']]
       #Recuerda usar el doble corchete al re asignar columnas